body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

*{
    outline: 1px solid #000000;
}

main {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    // min-width: 320px;
    // max-width: 480px;
    min-height: calc(100vh - 200px);
    border: 1px solid #000000;
    border-radius: 10px;
    align-items: center;
    background-color: red;
    box-sizing: border-box;

    &__container{
        background-color: rgba(255,255,255, 0.5);
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        padding: 60px 68px 40px;
        min-height: 450px;
        width: 300px;

        &__form{
            display: flex;
            flex-direction: column;
            min-width: 320px;
            max-width: 480px;
            height: 70vh;
            border: 1px solid #000000;
            border-radius: 10px;
            align-items: center;

            &--wlabel{
                display: flex;
                flex-direction: column;
                // width: minmax(320px, 320px);
                // width: 320px;
                // margin: 2rem;

                input{
                    border-radius: 2px;
                    height: 24px;
                }
            }
    }
    }

}

// .loginForm{
//     display: flex;
//     flex-direction: column;
//     min-width: 320px;
//     max-width: 480px;
//     height: 70vh;
//     border: 1px solid #000000;
//     border-radius: 10px;
//     align-items: center;


//     label{
//         margin-bottom: 8px;
//     }

//     &__input_w_label{
//         display: flex;
//         flex-direction: column;
//         // width: minmax(320px, 320px);
//         width: 320px;
//         margin: 2rem;

//         input{
//             border-radius: 2px;
//             height: 56px;
//         }
//     }
// }