

.header {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}