
*{
    margin: 0;
    padding: 0;
}

html{
    font: 62.5%;
}
body{
    padding: 20px;
}
.openModalButton{
    
    height: 30px;
    width: 120px;
}

.ModalBackground {

    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}

.modal{

    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 320px;

    h2{
        font-size: 3.0rem;
        margin-bottom: 20px;
    }

    &__form{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 10px;
        justify-items: center;
    }

    &__input{
        height: 30px;
        width: 80%;
        margin: 10px;
        font-size: 2rem;
    }

    &__confirmations{
        display: flex;
        width: 60%;
        height: 50px;
        justify-content: center;
    }

    &__button{
        width: 40%;
        height: 30px;
        margin: 10px;
        border-radius: 5px;
        border: 1px solid white;
        font-size: 1.3rem;
        transition:  background-color .15s ease-in-out;
    }
    &__button--accept{
        background-color: #28a745;
        color: white;
    }
    &__button--accept:hover{
        background-color: #1e7e34;
        color: white;
    }
    &__button--cancel{
        background-color: #dc3545;
        color: white;
    }
    &__button--cancel:hover{
        background-color: #c82333;
    }
}