body {
  font-family: ar;
}

main {
  height: auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 200px);
  border: 1px solid #000000;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.login__container {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffffff;
  border-radius: 40px;
  padding: 60px 68px 40px;
  min-height: 450px;
  width: 300px;
}
.login__container a {
  text-decoration: underline;
}
.login__container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  max-width: 480px;
  height: 550px;
  border: 0;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__container__form > span {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 16px auto;
}
.login__container__form fieldset {
  border: 0;
}
.login__container__form fieldset > div {
  margin-bottom: 30px;
}
.login__container__form--wlabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.login__container__form--wlabel input {
  border-radius: 4px;
  border: 1px solid;
  padding: 10px;
  width: 280px;
}
.login__container__form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: bold;
}
.login__container__form button {
  background: #4cb5f9;
  color: white;
  border: 0;
  border-radius: 8px;
  width: 304px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
}
.login__container__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 304px;
  font-size: 14px;
}
.login__container__options div > label {
  font-size: inherit;
  float: right;
  margin-left: 5px;
  font-weight: 200;
}
.login__container .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 304px;
  font-size: 1.125rem;
}